{% extends "admin/index.html" %}
{% load i18n %}

{# Este bloco adiciona um novo "card" no dashboard do admin #}
{% block content %}
  {{ block.super }} {# Mantém todo o conteúdo original do dashboard #}

  <div class="app-list-module module">
    <table>
      <caption>
        <a href="#" class="section" title="Ações customizadas">{% translate 'Ações Customizadas' %}</a>
      </caption>
      <tbody>
        <tr class="model-group">
          <th scope="row">
            {# Este é o nosso novo link! #}
            <a href="{% url 'admin_impressao_etiquetas' %}">
              Impressão de Etiquetas de Ativos
            </a>
          </th>
          <td>
            Selecione ativos do GLPI para gerar etiquetas de impressão.
          </td>
        </tr>
        </tbody>
    </table>
  </div>
{% endblock %}